<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="public/style/style.css">
        <title>UwU</title>
    </head>

    <header>
        <nav class="topNav">
            <div class="homeMobile">
                <a href="/">Home</a>
            </div>
            <div class="navBucket mobileOnly">
                <button class="bucketButton">Home
                    <i></i>
                </button>
                    <div class="bucketItems">
                        <a href="OffenseOnly.html">Attack Type Check</a>
                        <a href="EffectivenessCheck.html">Effectiveness Check</a>
                        <a href="TypeChart.html">Type Chart</a>
                        <a href="pokedex.html">Pokedex</a>
                        <a href="/views/about.html">About</a>
                        <a href="Contact.html">Contact</a>
                    </div>
            </div>
            <div class="navBucket">
                <button class="bucketButton">Checks
                    <i class="fa fa-caret-down"></i>
                </button>
                    <div class="bucketItems">
                        <a href="OffenseOnly.html">Attack Type Check</a>
                        <a href="EffectivenessCheck.html">Effectiveness Check</a>
                        <a href="TypeChart.html">Type Chart</a>
                        <a href="pokedex.html">Pokedex</a>
                    </div>
            </div>
            <div class="navBucket">
                <button class="bucketButton">About
                    <i></i>
                </button>
                <div class="bucketItems">
                    <a href="About.html">About</a>
                    <a href="Contact.html">Contact</a>
                </div>
            </div>
        </nav>
    </header>

    <body>
        <h1>Anime Show Backlog</h1>
        
        <ul class="anime">
            <% for (let i=0; i < animes.length; i++ ) {%>
                <li class ='anime'>
                    <span><%= info[i].showName %></span>
                    <span><%= info[i].streamService %></span>
                    <span><%= info[i].likes %></span>
                    <span class="del">delete</span>
                </li>
            <% } %>
        </ul>

        <h2>Add a new Anime</h2>
        <form action="addAnime" method="POST">
            <input type="text" placeholder="Anime" name="showName">
            <input type="text" placeholder="Service" name="streamService">
            <button type="submit">Submit</button>
        </form>
        <script src="js/main.js"></script>
    </body>
</html>
